body {
    font-family: 'Merriweather', serif;
    background-color: #e6e6e6
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 5;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    overflow: hidden;
}

.nav-title li {
    float: left;
    margin: 0pt 0pt;
    padding: 0pt 5pt;
}

.nav-items li {
    display: inline;
}

.nav-items li a {
    display: inline;
    color: #efefef;
    background-color: #777777;
    text-align: center;
    margin: 5pt 5pt;
    padding: 5pt 5pt;
    text-decoration: none;
}

.nav-items li a:hover {
    color: black;
    background-color: #efefef;
}

.dotted {
    border: 2pt dotted #777777;
    border-style: none none dotted;
}

.news-title {
    margin: 10pt 25pt;
    float: left;
    text-align: center;
}

.news-date {
    margin: 10pt 25pt;
    float: center;
    text-alight: left;
    font-weight: normal;
}

sup {
    text-decoration: underline;
}

.main {
    margin-top: 35pt;
}