<h1>Meet the Certified Data Boys...</h1>

<hr>

<center>
    <h2>Our mission</h2>
    <hr class="dotted" style="width:50%;">
    <br>
</center>
<p>
    C.D.B. has an extensive knowledge on developing innovative and modern software within industry and academia. <br>
    <br> C.D.B. aims to provide a tailored client experience with an emphasis on ease of access and powerful capability for a unique user experience. <br> <br> C.D.B. has rich history in a variety of computational fields, with members who have developed
    software for databases, image processors, and machine learning from back-end to front-end. <br> <br>
</p>

<hr>

<center>
    <h2>Our members</h2>
    <hr class="dotted" style="width:50%;">
    <br>
</center>

<div class="about-us-entry">
    <h2>Brian Williams</h2>
    <img src="/img/brian.png"></img>
    <p> Placeholder text.
        <br> <br> &emsp; GitHub: <a href="https://github.com/billiams171">https://github.com/billiams171</a>
    </p>
    <br>
</div>

<hr class="dotted">

<div class="about-us-entry">
    <h2>Joseph Morrison</h2>
    <img src="/img/joseph.jpg"></img>
    <p> Placeholder text.
        <br> <br> &emsp; GitHub: <a href="https://github.com/Morrisoj">https://github.com/Morrisoj</a>
    </p>
    <br>
</div>

<hr class="dotted">

<div class="about-us-entry">
    <h2>Matthew Sprague</h2>
    <img src="/img/matthew.jpg"></img>
    <p> I'm a database engineer hailing from the snowy city Syracuse, New York! I have experience working on enterprise-scale database systems, and I've worked briefly in the image understanding field. I'm also a hapless skateboarder and an avid music nerd!
        <br> <br> &emsp; GitHub: <a href="https://github.com/MatthewCS">https://github.com/MatthewCS</a>
    </p>
    <br>
</div>

<hr class="dotted">

<div class="about-us-entry">
    <h2>Jeffrey Rescignano</h2>
    <img src="/img/jeffrey.jpg"></img>
    <p> I'm a backend software engineer from Syracuse, New York! I have 7+ years expericnce working on various open-source projects leveraging user authentication systems, databases and large-scale API systems. In my free time, I'm a DIY smart home enthusiast
        and an amatuer drone photographer!
        <br> <br> &emsp; GitHub: <a href="https://github.com/JeffResc">https://github.com/JeffResc</a>
    </p>
    <br>
</div>

<hr>