<h1>News</h1>

<hr>
<br><br>
<div class="news-entry">
    <div class="news-header">
        <h3 class="news-title">Requirements Presentation</h3>
        <br><br>
        <h3 class="news-date">October 5<sup>th</sup> 2021</h3>
    </div>
    <p style="margin:15pt 50pt;">
        Potsdam, NY — On October 5<sup>th</sup> 2021, Certified Data Boys presented their requirements presentation. You can view the full slide deck <a href="/assets/Requirements-Presentation.pdf" target="_blank">here</a>.
        <br/>
        <br/> Video Webcast Recording:
        <br/>
        <video width="320" height="240" controls>
            <source src="/assets/Requirements-Presentation.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </p>
</div>
<div class="news-entry">
    <div class="news-header">
        <h3 class="news-title">Project Bid Presentation</h3>
        <br><br>
        <h3 class="news-date">September 9<sup>th</sup> 2021</h3>
    </div>
    <p style="margin:15pt 50pt;">
        Potsdam, NY — On September 9<sup>th</sup> 2021, Certified Data Boys presented their project bid presentation. You can view the full slide deck <a href="/assets/Project-Bid-Presentation.pdf" target="_blank">here</a>.
        <br/>
        <br/> Video Webcast Recording:
        <br/>
        <video width="320" height="240" controls>
            <source src="/assets/Project-Bid-Presentation.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </p>
</div>